---
import { defaultLang } from "../i18n/ui";
---

<!doctype html>
<html lang="en" style="background-color: #000;">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0;url=/${defaultLang}`} />
        <title>Terminal Loading...</title>
        <script define:vars={{ lang: defaultLang }}>
            window.location.replace(`/${lang}`);
        </script>
    </head>
    <body style="background-color: #000;"> </body>
</html>
