---
import { defaultLang } from "../i18n/ui";
---

<!doctype html>
<html lang="en" style="background-color: #000;">
    <head>
        <meta charset="UTF-8" />
        <title>Terminal Loading...</title>
        <script>
            const browserLang = navigator.language || (navigator as any).userLanguage;
            
            const targetLang = browserLang.toLowerCase().startsWith('tr') ? 'tr' : 'en';
            
            window.location.replace(`/${targetLang}`);
        </script>
    </head>
    <body style="background-color: #000;"> </body>
</html>
